In [1]:
import pandas as pd 
import os 
# import pandas-profiling

In [2]:
df = pd.read_csv("/home/mohammed/Downloads/nb.csv") 
dl = pd.read_csv("/home/mohammed/Downloads/driver_locations_during_request.csv")

In [3]:
df.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [4]:
df.count()

Trip ID             536020
Trip Origin         536020
Trip Destination    536020
Trip Start Time     534369
Trip End Time       536019
dtype: int64

In [5]:
df.isnull().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [6]:
db = df.dropna()

In [7]:
db.count()

Trip ID             534368
Trip Origin         534368
Trip Destination    534368
Trip Start Time     534368
Trip End Time       534368
dtype: int64

In [8]:
db['Trip End Time'] = pd.to_datetime(db['Trip End Time'])
db['Trip Start Time'] = pd.to_datetime(db['Trip Start Time'])

/tmp/ipykernel_90149/320274101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Trip End Time'] = pd.to_datetime(db['Trip End Time'])
/tmp/ipykernel_90149/320274101.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Trip Start Time'] = pd.to_datetime(db['Trip Start Time'])

In [9]:
db['trip_time']= (db['Trip End Time']- db['Trip Start Time']).dt.total_seconds()
db['trip_time']= (db['trip_time']/60).round(3)
db.head()

/tmp/ipykernel_90149/1117267109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['trip_time']= (db['Trip End Time']- db['Trip Start Time']).dt.total_seconds()
/tmp/ipykernel_90149/1117267109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['trip_time']= (db['trip_time']/60).round(3)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37,1.550
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28,29.400
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23,41.350
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42,13.583
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617

In [13]:
import pandas_profiling
# data_fifa = pd.read_csv('fifa.csv')
profile = db.profile_report(sensitive = True,title='Pandas Profiling Report')
profile.to_file(output_file="fifa_pandas_profiling.html")

NameError: name 'data' is not defined

In [20]:
trip_origin = df['Trip Origin'].groupby(df['Trip Origin'])
trip_origin.count().sort_values(ascending =False)

Trip Origin
6.6137933,3.357997                      888
6.462727,3.55679                        668
6.4293597,3.4334968                     576
6.4286308,3.5155123                     544
6.4431192,3.4814372                     543
                                       ...
6.5260501,3.2559224                       1
6.526047672150523,3.3670831858565697      1
6.526045806791566,3.305304192583367       1
6.5260454,3.3053774                       1
9.218181999999999,3.1993715               1
Name: Trip Origin, Length: 112142, dtype: int64

In [ ]:
import plotly.express as px
px.set_mapbox_access_token(open(".mapbox_token").read())
df = px.data.carshare()
fig = px.scatter_mapbox(df, lat="centroid_lat", lon="centroid_lon",     color="peak_hour", size="car_hours",
                  color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
fig.show()

In [39]:
dl.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [44]:
full_df = pd.merge(db, dl, how= "inner", left_on = 'Trip ID', right_on = 'order_id')
full_df.tail()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
1555713,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557736,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1555714,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557737,517948,245447,rejected,6.425431,3.527358,NaN,NaN
1555715,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557738,517948,239866,rejected,6.440013,3.525378,NaN,NaN
1555716,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557739,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1555717,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557740,517948,244170,rejected,6.469390,3.572079,NaN,NaN

In [56]:
total = full_df.isnull().sum().sort_values(ascending=False)
percent = (full_df.isnull().sum()/full_df.isnull().count()).sort_values(ascending=False)
missing_full_df = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_full_df['Missing Percent'] = missing_full_df['Missing Percent'].apply(lambda x: x * 100)
missing_full_df.loc[missing_full_df['Missing Percent'] > 10][:10]

              Total  Missing Percent
created_at  1555718            100.0
updated_at  1555718            100.0

In [63]:
full_df.drop(columns = ['created_at','updated_at'])

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time,id,order_id,driver_id,driver_action,lat,lng
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,1,392001,243828,accepted,6.602207,3.270465
1,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,2,392001,243588,rejected,6.592097,3.287445
2,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,3,392001,243830,rejected,6.596133,3.281784
3,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,4,392001,243539,rejected,6.596142,3.280526
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,5,392001,171653,rejected,6.609232,3.288800
...,...,...,...,...,...,...,...,...,...,...,...,...
1555713,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557736,517948,243774,rejected,6.469036,3.566877
1555714,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557737,517948,245447,rejected,6.425431,3.527358
1555715,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557738,517948,239866,rejected,6.440013,3.525378
1555716,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557739,517948,243774,rejected,6.469036,3.566877
1555717,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557740,517948,244170,rejected,6.469390,3.572079