In [15]:
import pandas as pd 
import os 
# import pandas-profiling

In [16]:
df = pd.read_csv("/home/mohammed/Downloads/nb.csv") 
dl = pd.read_csv("/home/mohammed/Downloads/driver_locations_during_request.csv")

In [17]:
df.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [18]:
df.isnull().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [19]:
db = df.dropna()

In [20]:
db.count()

Trip ID             534368
Trip Origin         534368
Trip Destination    534368
Trip Start Time     534368
Trip End Time       534368
dtype: int64

In [21]:
db['Trip End Time'] = pd.to_datetime(db['Trip End Time'])
db['Trip Start Time'] = pd.to_datetime(db['Trip Start Time'])

/tmp/ipykernel_44419/320274101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Trip End Time'] = pd.to_datetime(db['Trip End Time'])
/tmp/ipykernel_44419/320274101.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Trip Start Time'] = pd.to_datetime(db['Trip Start Time'])

In [22]:
db['trip_time']= (db['Trip End Time']- db['Trip Start Time']).dt.total_seconds()
db['trip_time']= (db['trip_time']/60).round(3)
db.head()

/tmp/ipykernel_44419/1117267109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['trip_time']= (db['Trip End Time']- db['Trip Start Time']).dt.total_seconds()
/tmp/ipykernel_44419/1117267109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['trip_time']= (db['trip_time']/60).round(3)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37,1.550
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28,29.400
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23,41.350
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42,13.583
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617

In [23]:
# import pandas_profiling
# # data_fifa = pd.read_csv('fifa.csv')
# profile = db.profile_report(sensitive = True,title='Pandas Profiling Report',samples=None)
# profile.to_file(output_file="fifa_pandas_profiling.html")

In [24]:
dx = db 
dr = dx

In [28]:
dr=(dx.groupby('Trip Origin',as_index=False).agg(Count=('Trip ID', 'count'))).sort_values(by="Count",ascending=False).reset_index(drop=True)

# trip_origin = df['Trip Origin'].groupby(df['Trip Origin'])
# trip_origin.count().sort_values(ascending =False)
init_df = pd.merge(dr, db, how= "inner", left_on = 'Trip Origin', right_on = 'Trip Origin')
init_df.head()

,Trip Origin,Count,Trip ID,Trip Destination,Trip Start Time,Trip End Time,trip_time
0,"6.6137933,3.357997",865,392746,"6.7153477,3.4108816",2021-07-01 09:58:04,2021-07-01 12:09:14,131.167
1,"6.6137933,3.357997",865,392769,"6.5527439,3.386998",2021-07-01 09:57:24,2021-07-01 10:43:00,45.600
2,"6.6137933,3.357997",865,393304,"6.607327110226912,3.2799327965351437",2021-07-01 11:08:40,2021-07-01 11:45:35,36.917
3,"6.6137933,3.357997",865,393375,"6.527660399999999,3.3800483",2021-07-01 11:11:52,2021-07-01 12:05:05,53.217
4,"6.6137933,3.357997",865,393781,"6.6545768,3.3390005",2021-07-01 11:54:08,2021-07-01 12:34:05,39.950

In [29]:
location_df = init_df
location_df[['ori_Latitude', 'ori_Longitude']] = db['Trip Origin'].str.strip('( )').str.split(',', expand=True)
location_df[['des_Latitude', 'des_Longitude']] = db['Trip Destination'].str.strip('( )').str.split(',', expand=True)
# location_df = location_df.drop(columns  =['Trip Origin','Trip Destination'])

In [30]:
location_df[['ori_Latitude', 'ori_Longitude']] = location_df[['ori_Latitude', 'ori_Longitude']].apply(pd.to_numeric)

In [31]:
location_df.dtypes

Trip Origin                 object
Count                        int64
Trip ID                      int64
Trip Destination            object
Trip Start Time     datetime64[ns]
Trip End Time       datetime64[ns]
trip_time                  float64
ori_Latitude               float64
ori_Longitude              float64
des_Latitude                object
des_Longitude               object
dtype: object

In [32]:
import plotly.express as px

fig = px.scatter_mapbox(location_df, lat="ori_Latitude", lon="ori_Longitude", hover_name="Count",color="Count", hover_data=location_df.columns.tolist(),
                        zoom=3, height=300)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [32]:
location_df.columns.tolist()

['Trip ID',
 'Trip Origin',
 'Trip Destination',
 'Trip Start Time',
 'Trip End Time',
 'ori_Latitude',
 'ori_Longitude',
 'des_Latitude',
 'des_Longitude']

In [9]:
import plotly.express as px
px.set_mapbox_access_token(open("/home/mohammed/Desktop/10 Academy projects/token.mapbox_token").read())
# df = px.data.carshare()
fig = px.scatter_mapbox(location_df, lat="ori_Latitude", lon="ori_Longitude", hover_data = location_df.columns.tolist(),size_max=15, zoom=10)
                #   color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
fig.show()

In [39]:
dl.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [44]:
full_df = pd.merge(db, dl, how= "inner", left_on = 'Trip ID', right_on = 'order_id')
full_df.tail()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
1555713,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557736,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1555714,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557737,517948,245447,rejected,6.425431,3.527358,NaN,NaN
1555715,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557738,517948,239866,rejected,6.440013,3.525378,NaN,NaN
1555716,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557739,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1555717,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557740,517948,244170,rejected,6.469390,3.572079,NaN,NaN

In [56]:
total = full_df.isnull().sum().sort_values(ascending=False)
percent = (full_df.isnull().sum()/full_df.isnull().count()).sort_values(ascending=False)
missing_full_df = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_full_df['Missing Percent'] = missing_full_df['Missing Percent'].apply(lambda x: x * 100)
missing_full_df.loc[missing_full_df['Missing Percent'] > 10][:10]

              Total  Missing Percent
created_at  1555718            100.0
updated_at  1555718            100.0

In [63]:
full_df.drop(columns = ['created_at','updated_at'])

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,trip_time,id,order_id,driver_id,driver_action,lat,lng
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,1,392001,243828,accepted,6.602207,3.270465
1,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,2,392001,243588,rejected,6.592097,3.287445
2,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,3,392001,243830,rejected,6.596133,3.281784
3,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,4,392001,243539,rejected,6.596142,3.280526
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,3.617,5,392001,171653,rejected,6.609232,3.288800
...,...,...,...,...,...,...,...,...,...,...,...,...
1555713,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557736,517948,243774,rejected,6.469036,3.566877
1555714,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557737,517948,245447,rejected,6.425431,3.527358
1555715,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557738,517948,239866,rejected,6.440013,3.525378
1555716,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557739,517948,243774,rejected,6.469036,3.566877
1555717,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,102.783,1557740,517948,244170,rejected,6.469390,3.572079